.back-btn {
    width: 100%;
    padding: 2rem 0 3rem;
}

.back-btn button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-bg-color);
    color: var(--main-text-color);
    height: 40px;
    padding: 0 2rem;
}

.back-btn button i {
    margin-right: .5rem;
}

.detail-view {
    animation: fadeIn 1s;
}

.country-img {
    width: 100%;
}

.country-img img {
    width: 100%;    
    max-width: 450px;
    height: 300px;
    object-fit: cover;
}

/* Info Section */

.country-info {
    width: 100%;
    display: flex;
    align-items: center;
}

@media(max-width: 991px){

    .country-img img {
        height: 200px;
    }

    .detail-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .country-info {
        margin-top: 2rem;
    }

    .info{
        flex-direction: column;
    }
}

.info-wrapper {
    width: 100%;
}

.info-wrapper .title {
    margin-bottom: 1rem;
}

.info-wrapper .title h2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--main-text-color);
}
.info-wrapper .info {
    display: flex;
}

.info .left-info, .info .right-info {
    width: 100%;
    color: var(--main-text-color);
}

.info-wrapper .info ul {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.info-wrapper .info ul li{
    padding: .5rem 0;    
}
.info-wrapper .info ul li:last-child {
    margin-bottom: 0rem;    
}

.detail-wrapper {
    display: flex;
}

.info ul li .submenu {
    margin-left: .5rem;
    margin-bottom: .5rem;
}

.info ul li .submenu:last-child {
    margin-bottom: 0;
}

.info ul li .submenu li {
    padding: 0;
    border: none;
}


.bottom-info {
    width: 100%;
}

.chip {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: .3rem 1.5rem;
    background-color: var(--secondary-bg-color);
    margin: 1rem 0 .2rem;
    margin-left: .5rem;
    display: inline-block;
}